*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}
.calculator-grid{
    display: grid;
  background-color: rgba(255, 255, 255, 0.603);
  background-color: #242424;
  justify-content: center;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(7rem, auto) repeat(5,65px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid rgb(182, 182, 182);
    outline: none;
    background-color: rgba(131, 131, 131, 0.75);
}
.calculator-grid > button:hover{
    background-color: rgba(131, 131, 131, 0.9 );
}

.calculator-grid > button:active{
    background-color: rgba(131, 131, 131, 0.95);
}
.span-two{
    grid-row: span 2;
}

.span-two-col{
    grid-column: span 2;
}


.output{
    grid-column: 1 / -1;
    background-color: rgba(175, 173, 173, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.output .current-operand{
    color: white;
    font-size: 2rem;
    word-spacing: normal;
    word-break: break-all;
    line-height: 2rem;
}




